<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapperPrac">

	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO T_SPRING_BOARD(
				WRITER,
				SUBJECT,
				EMAIL,
				PASSWORD,
				REG_DATE,
				READ_COUNT,
				CONTENT		
		)
		VALUES(
				#{writer},
				#{subject},
				#{email},
				#{password},
				NOW(),
				0,
				#{content}
		)
	</insert>
	
	<select id="selectAll" resultType="BoardDto">
		SELECT
				*
		FROM
				T_SPRING_BOARD
	</select>
	
	<select id="selectBoard" parameterType="int" resultType="BoardDto">
		SELECT
				*
		FROM
				T_SPRING_BOARD
		WHERE
				NUM=#{num}
	</select>
	
	<update id="updateReadCount" parameterType="int">
		UPDATE
				T_SPRING_BOARD 
		SET
				READ_COUNT = READ_COUNT + 1
		WHERE
				NUM = #{num}
	</update>

</mapper>